<p>about works!</p>
<div class="about-section">
    <h1>About me page</h1>
    <p>I study web dev.</p>
  </div>
  
  <div class="row">
  
  
    <div class="column">
      <div class="card">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocL_Ar6-gYrYr8CbTmpidl5Or9vSof16OOuCBteWW2u1JOU=s288-c-no" alt="Mike" style="width:50%">
        <div class="container">
          <h2>Ulrich Oconer</h2>
          <p class="title">Student</p>
          <p>I study web dev.</p>
          <p>unoconer@student.hau.edu.ph</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  </div>