<p>data-binding works!</p>
    <!-- Two-Way data binding demo below --> 
<!-- Event Binding includes mouse click, double click, hover and other keyboard and mouse actions -->

<hr>
<h2>Two-way data binding demo</h2> 
<button (click)="showData($event)">Click Me!</button> 
<button on-click="showData($event)">Click Me Too!</button> 
<hr> 

<h2>Two-way data binding demo (Using Functions)</h2> 
<button (click)="getMessage('Hello World!')">Click to reveal the secret message!</button> 


<h2>Two-way data binding demo (More Events)</h2> 

<br>